.container {
	margin: 0 auto;
}
.content-area {
	
}

/* desktops
-------------------------------------------------------------- */
@media only screen and ( min-width: 961px ) {

	.container {
		width: 960px;
	}

}

/* tablets
-------------------------------------------------------------- */
@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
	
	.container {
		width: 728px;
	}
	.twothird,
	.onethird {
		width: 100%;
		float: none;
	}
}

/* large smart phones
-------------------------------------------------------------- */
@media only screen and ( max-width: 767px ) {
	
	.container {
		width: 600px;
	}
	.twothird,
	.onethird {
		width: 100%;
		float: none;
	}
	
}


/* smaller phones
-------------------------------------------------------------- */
@media only screen and ( max-width: 599px ) {
	
	.container {
		width: 90%;
	}
	
}

/* no gridset layout items
-------------------------------------------------------------- */
.qcol {
	float: left;
	margin-right: 0.833333%; /* 8 / 960 */
}
.quarter {
	width: 24.375%; /* 234 / 960 */
}
.half {
	width: 49.583333%; /* 476 / 960 */
}
.threequarters {
	width: 74.791667%; /* 718 / 960 */
}
.tcol {
	float: left;
	margin-right: 2%;
}
.third {
	width: 32%;
}
.twothird {
	width: 66%;
}