/**
 * define sass variables
 */

/**
 * main link colours
 * both hover and normal
 * not including links in specific places here
 */
a {
	color: #000000;
}

/**
 * fonts
 */
$font-family: 'Noto Serif', serif;
$font-headings: 'Noto Serif', serif;

/**
 * brand colours
 */